body {
	font-family: "Ubuntu", sans-serif;
}

h1 {
	color: rgb(14, 143, 168);
	line-height: 50px;
	text-align: right;
	font-size: 68px;
	margin-bottom: 0 auto;
}

li {
	color: #d66b92;
	font-size: 15px;
	line-height: 24px;
	list-style: none;
	text-align: right;
}

li:first-letter {
	text-transform: capitalize;
}

.container {
	max-width: 950px;
	margin: 20px auto;
	padding: 25px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #0e8fa8;
	background: linear-gradient(
		122.3deg,
		rgb(111, 71, 133) 14.6%,
		rgb(232, 129, 166) 29.6%,
		rgb(237, 237, 183) 42.1%,
		rgb(244, 166, 215) 56.7%,
		rgb(154, 219, 232) 68.7%,
		rgb(238, 226, 159) 84.8%
	);
}

.weather-temperature {
	color: #6f4886;
	text-align: right;
	padding: 0;
	margin: 0 auto;
}

.weather-temperature img {
	display: inline-block;
	position: relative;
	margin-right: -10px;
	top: -22px;
}

.weather-temperature .active:hover {
	text-decoration: none;
}

.temperature {
	font-size: 82px;
}

.unit {
	color: #6f4886;
	position: relative;
	font-size: 28px;
	top: -36px;
	left: 8px;
	cursor: default;
}

.forcast-overview {
	box-shadow: 8px 5px 5px rgb(111, 71, 133);
	border: solid rgb(198, 198, 192);
	border-radius: 18px;
	text-align: center;
	width: 150px;
	margin: 0;
	padding: 1em;
}

.forecast-day {
	color: rgb(230, 230, 153);
	font-weight: bold;
	font-size: 22px;
}

.current-temp {
	color: #1c8fa8;
}

.current-temp .forecast-temperature-max {
	font-size: 18px;
	margin-left: 10px;
}
.current-temp .forecast-temperature-min {
	font-size: 16px;
	opacity: 0.5;
}
